<div class="container my-5">
  <h1 class="lead">Reset Password</h1>
  <div class="row">
    {% form 'reset_customer_password' %}
      {% include 'form-error', form %}
      <div class="col-12">
        <label for="activate_password1" class="form-label">Password</label>
        <input type="password" name="customer[password]" id="activate_password1">
      </div>
      <div class="col-12">
        <label for="activate_password2" class="form-label">Password Confirmation</label>
        <input type="password" name="customer[password_confirmation]" id="activate_password2">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary w-100 rounded-0">Reset Password</button>
      </div>
    {% endform %}
  </div>
</div>




{% form 'reset_customer_password' %}

{{ form.errors | default_errors }}

<label for="password">Password</label>
<input type="password" value="" name="customer[password]" size="16" />

<label for="password_confirmation">Password Confirmation</label>
<input
  type="password"
  value=""
  name="customer[password_confirmation]"
  size="16"
/>

<input type="submit" value="Reset Password" />

{% endform %}